<h1>All Your Burgers Are Belong To Us!</h1>
<img src="./assets/images/burger.jpg">


<div class="container">


  {{!-- This should be showing the burger list if not devoured--}}
  <div class="row justify content-center">
    <div class="col-md-6">
      <h2>Which burger would you like to devour?</h2>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <p>{{burger_name}}</p>
        {{!-- <input type="hidden" value={{id}}> --}}
        <button type="submit" class="devour" data-id="{{id}}">Devour</button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    {{!-- This will show the burger list if devoured --}}
    <div class="col-md-6">
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <p>{{burger_name}}</p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{!-- This is out add burger stuff --}}
<div class="container">
  <form class="create-form">
    <div class="form-group">
      <label for="ca">What is your burger name?</label>
      <input type=text id="ca" name="name">
    </div>
    <button type='submit'>Add Burger</button>
  </form>
</div>
</div>